*.pyc
*.egg-info
*.egg/
.tox/
*.vagrant
vagrant/development/*.log
.eggs/
build/
dist/
.ropeproject/
ChangeLog
MANIFEST
ykman/gui/qt_resources.py
ykman-gui-script.py
ykman-gui.pkg
ykman-script.py
ykman.pkg
lib/
**/_build

# Libraries unpacked by Windows VM
/libjson-c*.dll
/libusb-*.dll
/libykpers-*.dll
/libyubikey-*.dll
