include COPYING
include NEWS
include ChangeLog
include resources/*
include doc/*.adoc
recursive-include test *
include README.adoc
include man/*
include ykman/VERSION
recursive-exclude *.pyc
recursive-exclude test *.pyc
