[tool.poetry]
name = "yubikey-manager"
version = "4.0.9"
description = "Tool for managing your YubiKey configuration."
authors = ["Dain Nilsson <dain@yubico.com>"]
license = "BSD"
homepage = "https://github.com/Yubico/yubikey-manager"
repository = "https://github.com/Yubico/yubikey-manager"
keywords = ["yubikey", "yubiotp", "piv", "fido"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: End Users/Desktop",
  "Topic :: Security :: Cryptography",
  "Topic :: Utilities"
]
include = [
  { path = "COPYING", format = "sdist"},
  { path = "NEWS", format = "sdist"},
  { path = "README.adoc", format = "sdist"},
  "man/",
  "tests/",
]
packages = [
  { include = "yubikit" },
  { include = "ykman" },
]


[tool.poetry.dependencies]
python = "^3.6"
dataclasses = {version = "^0.8", python = "<3.7"}
cryptography = ">=2.1, <39"
pyOpenSSL = {version = ">=0.15.1", optional = true}
pyscard = "^1.9 || ^2.0"
fido2 = ">=0.9, <2.0"
click = "^7.0 || ^8.0"
pywin32 = {version = ">=223", platform = "win32"}

[tool.poetry.dev-dependencies]
pytest = "^6.0"
pyOpenSSL = "^17.0"
makefun = "^1.9.5"
pyinstaller = {version = "^4.10", python = "<3.11"}

[tool.poetry.scripts]
ykman = "ykman.cli.__main__:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = ["tests"]
