[project]
name = "yubikey-manager"
version = "5.6.1"
description = "Library and CLI for managing your YubiKey configuration."
authors = [
  { name = "Dain Nilsson", email = "<dain@yubico.com>" }
]
readme = "README.adoc"
requires-python = ">=3.8, <4"
license = { file = "COPYING" }
keywords = ["yubikey", "yubiotp", "piv", "fido"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: End Users/Desktop",
  "Topic :: Security :: Cryptography",
  "Topic :: Utilities"
]
dependencies = [
  "cryptography (>=3.0, <47)",
  "pyscard (>=2.0, <3)",
  "fido2 (>=1.0, <=2.0.0b1)",
  "click (>=8.0, <9)",
  "keyring (>=23.4, <26)",
  "pywin32 (>=223) ; sys_platform == 'win32'",
]

[project.urls]
Homepage = "https://github.com/Yubico/yubikey-manager"

[project.scripts]
ykman = "ykman._cli.__main__:main"

[tool.poetry]
requires-poetry = ">=2.0"
include = [
  { path = "COPYING", format = "sdist"},
  { path = "NEWS", format = "sdist"},
  { path = "README.adoc", format = "sdist"},
  "man/",
  "tests/",
]
packages = [
  { include = "yubikit" },
  { include = "ykman" },
]

[tool.poetry.group.dev.dependencies]
pytest = "^8.0"
makefun = "^1.9.5"
pyinstaller = { version = "^6.10", python = "<3.14" }
Sphinx = { version = "^7.2", python = ">=3.9" }
sphinx-rtd-theme = "^1.2.2"
sphinx-autodoc-typehints = "^2"
fido2 = {version = "2.0.0b1", python = "^3.10"}

[build-system]
requires = ["poetry-core>=2.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = ["tests"]
