Source: yubikey-manager
Maintainer: Debian Authentication Maintainers <pkg-auth-maintainers@lists.alioth.debian.org>
Uploaders: Dag Heyman <dag@yubico.com>,
           Dain Nilsson <dain@yubico.com>
Section: utils
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9),
               python-all,
               python3-all,
               python-setuptools,
               python3-setuptools,
               python-usb,
               python3-usb,
               python-pyscard,
               python3-pyscard,
               python-enum34,
               python-cryptography,
               python3-cryptography,
               python-click,
               python3-click,
Homepage: https://developers.yubico.com/yubikey-manager/

Package: python-yubikey-manager
Architecture: all
Section: python
XB-Python-Version: >= 2.7
Depends: ${python:Depends},
         ${misc:Depends},
         python-setuptools,
         libykpers-1-1,
         libu2f-host0
Recommends: pcscd
Description: Python library for configuring a YubiKey
 A python library for configuring YubiKey over all transport modes.

Package: python3-yubikey-manager
Architecture: all
Section: python
XB-Python-Version: >= 3.4
Depends: ${python3:Depends},
         ${misc:Depends},
         python3-setuptools,
         libykpers-1-1,
         libu2f-host0
Recommends: pcscd
Description: Python 3 library for configuring a YubiKey
 A python library for configuring YubiKey over all transport modes.

Package: yubikey-manager
Architecture: all
XB-Python-Version: >= 3.4
Depends: ${python3:Depends}, 
         ${misc:Depends},
         python3-yubikey-manager,
         python3-click,
         pcscd
Description: Python library and command line tool for configuring a YubiKey
 YubiKey Manager (ykman) is a python library and command line tool for
 configuring a YubiKey over all transports.
