Source: yubikey-manager
Maintainer: Debian Authentication Maintainers <pkg-auth-maintainers@lists.alioth.debian.org>
Uploaders: Dag Heyman <dag@yubico.com>,
           Dain Nilsson <dain@yubico.com>,
           Emil Lundberg <emil@yubico.com>
Section: utils
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python3-all,
               python-click,
               python3-click,
               python-cryptography,
               python3-cryptography,
               python-enum34,
               python-mock,
               python-openssl,
               python3-openssl,
               python-pyscard,
               python3-pyscard,
               python-setuptools,
               python3-setuptools,
               python-usb,
               python3-usb,
               python-fido2,
               python3-fido2
Homepage: https://developers.yubico.com/yubikey-manager/
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4

Package: python-yubikey-manager
Architecture: all
Section: python
Depends: ${misc:Depends},
         ${python:Depends},
         libykpers-1-1
Recommends: pcscd
Description: Python 2 library for configuring a YubiKey
 A Python library for configuring YubiKey over all transport modes.
 This is the Python 2 version of the package.

Package: python3-yubikey-manager
Architecture: all
Section: python
Depends: ${misc:Depends},
         ${python3:Depends},
         libykpers-1-1
Recommends: pcscd
Description: Python 3 library for configuring a YubiKey
 A Python library for configuring YubiKey over all transport modes.
 This is the Python 3 version of the package.

Package: yubikey-manager
Architecture: all
Depends: ${python3:Depends}, 
         ${misc:Depends},
         pcscd,
         python3-click,
         python3-yubikey-manager
Description: Python library and command line tool for configuring a YubiKey
 YubiKey Manager (ykman) is a command line tool for configuring a YubiKey over
 all transports. It is capable of reading out device information as well as
 configuring several aspects of a YubiKey, including enabling or disabling
 connection transports an programming various types of credentials.
