Source: yubikey-manager
Maintainer: Debian Authentication Maintainers <pkg-auth-maintainers@lists.alioth.debian.org>
Uploaders: Dag Heyman <dag@yubico.com>,
           Dain Nilsson <dain@yubico.com>,
           Emil Lundberg <emil@yubico.com>
Section: utils
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9),
               dh-python,
               libykpers-1-1,
               pcscd,
               python3-all,
               python3-click,
               python3-cryptography,
               python3-openssl,
               python3-pyscard,
               python3-setuptools,
               python3-usb
Homepage: https://developers.yubico.com/yubikey-manager/
X-Python3-Version: >= 3.4

Package: python3-yubikey-manager
Architecture: all
Section: python
Depends: libykpers-1-1,
         python3,
         python3-cryptography,
         python3-openssl,
         python3-pyscard,
         python3-setuptools,
         python3-six,
         python3-usb,
         ${misc:Depends}
Recommends: pcscd
Description: Python 3 library for configuring a YubiKey
 A Python library for configuring YubiKey over all transport modes.
 This is the Python 3 version of the package.

Package: yubikey-manager
Architecture: all
Depends: pcscd,
         python3-click,
         python3-yubikey-manager,
         ${misc:Depends},
         ${python3:Depends}
Description: Python library and command line tool for configuring a YubiKey
 YubiKey Manager (ykman) is a command line tool for configuring a YubiKey over
 all transports. It is capable of reading out device information as well as
 configuring several aspects of a YubiKey, including enabling or disabling
 connection transports an programming various types of credentials.
