name: build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python: [ '2.x', '3.x' ]

    name: Python ${{ matrix.python }}
    steps:
      - uses: actions/checkout@v1

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          sudo apt-add-repository -y ppa:yubico/stable
          sudo apt-get update
          sudo apt-get install -qq libykpers-1-1 swig libpcsclite-dev
          python -m pip install --upgrade pip
          pip install tox
          pip install .

      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 .

      - name: Scan with bandit
        run: |
          pip install bandit
          bandit -r -lll .

      - name: Run unit tests
        run: tox -- -v

      - name: Run CLI
        run: |
          ykman --version
          [[ -z "$(ykman --version | grep -E "not found|missing")" ]]
