name: Ubuntu

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.0'
          cache: poetry

      - name: Install dependencies
        run: |
          sudo apt-get install -qq swig libpcsclite-dev
          poetry install

      - name: Run pre-commit hooks
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit
          pre-commit install
          pre-commit run --all-files --verbose

      - name: Run unit tests
        run: poetry run pytest

      - name: Run CLI
        run: |
          pip install .
          ykman --version
          [[ -z "$(ykman --version | grep -E "not found|missing")" ]]

      - name: PyInstaller
        run: |
          poetry run pyinstaller ykman.spec
          dist/ykman/ykman --version
          [[ -z "$(dist/ykman/ykman --version | grep -E "not found|missing")" ]]
          export REF=$(echo ${GITHUB_REF} | cut -d '/' -f 3)
          mv dist/ykman dist/ykman-$REF

      - name: Upload build
        uses: actions/upload-artifact@v1
        with:
          name: ykman-builds-ubuntu
          path: dist
